[sender]
email-address = "..."

[email-content]
template = "..."
base-template = "..."
targets-file = "..." # CSV File

# Comma-seperated, no spaces
cc = "..."
bcc = "..."

[mjml-api]
application-id = "..."
secret-key = "..."
